<main id="dashboard-container">
    <section class="voucher-generator-wrapper">
        <div class="title"><h3>Generate Voucher</h3></div>
        <div class="content">
            <div class="row">
                <div class="user-name content-body">
                    <span>Nikolas Eric</span>
                </div>
                <div class="user-mail content-body">
                    <span>nikolaseric.jason&#64;nestle.com</span>
                </div>
            </div>
            <div class="row1 voucher-cost">
                <div class="col1">
                    <div class="content-body subtitle">
                        <span>Cost Center</span>
                    </div>
                    <div>
                        <select name="Cost Center" id="" class="selectors">
                            <option>Nestle Shop</option>
                            <option>Nestle Shop</option>
                            <option>Nestle Shop</option>
                        </select>
                    </div>
                </div>
                <div class="col2 voucher-amt-wrapper">
                    <div class="content-body subtitle">
                        <span>Voucher amount</span>
                    </div>
                    <div class="content-body"><span>50 CHF</span></div>
                </div>
            </div>
            <div class="row btn-container">
                <button [routerLink]="['/voucher']" class="primary-btn">
                    <span>Generate Voucher</span>
                </button>
            </div>
        </div>
    </section>
    <section class="voucher-history-wrapper">
        <header>
            <div class="title"><h3>Voucher History</h3></div>
            <div class="navigation-wrapper">
                <div class="filter-container">
                    <div class="filter-img">
                        <img src="assets\images\filter.svg" alt="filter" />
                    </div>
                    <div class="subtitle">
                        <span>Filter</span>
                    </div>
                </div>
                <div class="excel-container">
                    <div class="excel-img">
                        <img src="assets\images\excel.svg" alt="excel" />
                    </div>
                    <div class="subtitle">
                        <span>Export Excel</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="">
            <p-table
                [value]="products"
                sortField="price"
                [sortOrder]="-1"
                [tableStyle]="{ 'min-width': '60rem' }"
                (onSort)="onSort($event)"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name" style="width: 15%">
                            EAN code
                            <img
                                [src]="
                                    sortField === 'code' && sortOrder === 1
                                        ? 'assets/images/Up arrow.png'
                                        : sortField === 'code' &&
                                          sortOrder === -1
                                        ? 'assets/images/Icon ionic-md-arrow-dropup.png'
                                        : 'assets/images/Sort.png'
                                "
                                alt="Sort Icon"
                                class="sort-icon"
                            />
                        </th>

                        <th pSortableColumn="category" style="width: 15%">
                            Date of Import
                            <img
                                [src]="
                                    sortField === 'imported' && sortOrder === 1
                                        ? 'assets/images/Up arrow.png'
                                        : sortField === 'imported' &&
                                          sortOrder === -1
                                        ? 'assets/images/Icon ionic-md-arrow-dropup.png'
                                        : 'assets/images/Sort.png'
                                "
                                alt="Sort Icon"
                                class="sort-icon"
                            />
                        </th>
                        <th pSortableColumn="quantity" style="width: 15%">
                            Date of Activation
                            <img
                                [src]="
                                    sortField === 'activated' && sortOrder === 1
                                        ? 'assets/images/Up arrow.png'
                                        : sortField === 'activated' &&
                                          sortOrder === -1
                                        ? 'assets/images/Icon ionic-md-arrow-dropup.png'
                                        : 'assets/images/Sort.png'
                                "
                                alt="Sort Icon"
                                class="sort-icon"
                            />
                        </th>

                        <th pSortableColumn="price" style="width: 15%">
                            Cost Center
                            <img
                                [src]="
                                    sortField === 'cost-center' &&
                                    sortOrder === 1
                                        ? 'assets/images/Up arrow.png'
                                        : sortField === 'cost-center' &&
                                          sortOrder === -1
                                        ? 'assets/images/Icon ionic-md-arrow-dropup.png'
                                        : 'assets/images/Sort.png'
                                "
                                alt="Sort Icon"
                                class="sort-icon"
                            />
                        </th>

                        <th pSortableColumn="quantity" style="width: 15%">
                            Line Manager
                            <img
                                [src]="
                                    sortField === 'lineManager' &&
                                    sortOrder === 1
                                        ? 'assets/images/Up arrow.png'
                                        : sortField === 'lineManager' &&
                                          sortOrder === -1
                                        ? 'assets/images/Icon ionic-md-arrow-dropup.png'
                                        : 'assets/images/Sort.png'
                                "
                                alt="Sort Icon"
                                class="sort-icon"
                            />
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.code }}</td>
                        <td>{{ product.imported }}</td>
                        <td>{{ product.activated }}</td>
                        <td>{{ product.costCenter }}</td>
                        <td>{{ product.lineManager }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</main>
