@font-face {
  font-family: 'NestleTextTF-Bold';
  src: url('/assets/fonts/NestleText/NestleTextTF-Bold.woff2') format('woff2');
  font-weight: 900 !important;
  font-style: normal;
}

@font-face {
  font-family: 'NestleTextTF-Book';
  src: url('/assets/fonts/NestleText/NestleTextTF-Book.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NestleTextTF-Light';
  src: url('/assets/fonts/NestleText/NestleTextTF-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NestleTextTF-Italic';
  src: url('/assets/fonts/NestleText/NestleTextTF-Italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'NestleTextTF-LightItalic';
  src: url('/assets/fonts/NestleText/NestleTextTF-LightItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NestleBrush-Bold';
  src: url('/assets/fonts/NestleBrush/NestleBrush-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NestleBrush-Regular';
  src: url('/assets/fonts/NestleBrush/NestleBrush-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NestleBrush-BoldItalic';
  src: url('/assets/fonts/NestleBrush/NestleBrush-BoldItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'NestleBrush-Italic';
  src: url('/assets/fonts/NestleBrush/NestleBrush-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}


