<main id="dashboard-container">
    <section class="voucher-generator-wrapper">
      <div class="title"><span>Import Vouchers</span></div>
      <div class="content">
        <div class="row">
            <div class="search-bar-container"><input type="search"/><img src="assets\images\file-search.svg" alt=""></div>
        </div>
        <div class="row" >
          <button class="primary-btn"><span>Generate Voucher</span></button>
        </div>
      </div>
    </section>
    <!-- <section class="voucher-history-wrapper">
      <header>
        <div class="title"><span>Vouchers</span></div>
        <div class="navigation-wrapper">
          <div class="filter-container">
              <div class="filter-img">
                  <img src="assets\images\filter.svg" alt="filter"/>
              </div>
              <div class="subtitle">
                  <span>Filter</span>
              </div>
          </div>
          <div class="excel-container">
              <div class="excel-img">
                  <img src="assets\images\excel.svg" alt="excel"/>
              </div>
              <div class="subtitle">
                  <span>Export Excel</span>
              </div>
          </div>
        </div>
      </header>
     
    </section> -->
  </main>
  
