<section id="voucher_generator_container">
    <div class="back-btn-container">
        <img [routerLink]="['/']" src="assets\images\left-arrow.svg" alt="">
    </div>
    <div class="voucher-generator-wrapper">
        <section class="section-1">
            <div class="success-img">
                <img src="assets\images\success.svg" />
            </div>
            <div class="title">
                <h3>
                    Voucher Generated
                    <br> Successfully
                </h3>
            </div>
        </section>
        <section class="card section-2">
            <div class="content-1">
                <div class="share-icon">
                    <img src="assets\images\share-icon.svg" alt="share"/>
                </div>
                <div class="user">
                    <div class="username">Alexander</div>
                    <p class="user-mail">alexander.richi&#64;nestle.com</p>
                </div>
                <h2>50 CHF</h2>
                <div class="date-place-wrapper">
                    <div class="place">
                        <span>Nestle Shop</span>
                    </div>
                    <div class="date">
                        <span>12/02/2024</span>
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="qr-code">
                    <img src="assets/images/Qr_code.png" alt="qr-code"/>
                    
                </div>
                <div class="trans-link-container">
                    <p class="trans-link">
                        <span>https://www.tec-nestle-voucher.shop.itnestle-voucher.shop.it</span>
                    </p>
                    <div class="copy-container">
                        <div class="copy-img"><img src="assets\images\copy.svg" alt="copy"></div>
                        <div class="title"><span>Copy</span></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
