<section id="voucher_generator_container">
    <div class="back-btn-container">
        <img [routerLink]="['/']" src="assets\images\left-arrow.svg" alt="">
    </div>
    <div class="voucher-generator-wrapper">
        <section class="section-1">
            <div class="success-img">
                <img src="assets\images\success.svg" />
            </div>
            <div class="title cursor-wait">
                <h3>
                    Voucher Generated
                    <br> Successfully
                </h3>
            </div>
        </section>
        <section class="card section-2">
            <div class="content-1">
                <div class="share-icon">
                    <img src="assets\images\share-icon.svg" alt="share"/>
                </div>
                <div class="user">
                    <div class="username">{{voucher.user_name}}</div>
                    <p class="user-mail">{{voucher.email_id}}</p>
                </div>
                <h2>50 CHF</h2>
                <div class="date-place-wrapper">
                    <div class="place">
                        <span class="text-base">{{voucher.cost_center}}</span>
                    </div>
                    <div class="date">
                        <span class="text-base">{{ voucher.activate_date | date: 'dd/MM/yyyy'}}</span>
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="qr-code flex flex-column align-items-center " >
                    <img src="assets/images/Qr_code.png" alt="qr-code"/>
                    <span>{{voucher.ean_code}}</span>
                </div>
                <div class="trans-link-container">
                    <p class="trans-link">
                        <span>{{voucher.url}}</span>
                    </p>
                    <div class="copy-container">
                        <div class="copy-img"><img src="assets\images\copy.svg" alt="copy"></div>
                        <div class="title"><span>Copy</span></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
