
<header id="header_container">
    <div class="left-content-container">
        <img class="logo-img" src="assets\images\logo.png" alt="logo"/>
        
    </div>
    <div class="right-content-container" (click)="toggleDropdown()">
        <div class="user-pic"><img  src="assets\images\user-profile-pic.svg" alt="profile-pic" /></div>
        <div class="user-name"><span>Nikolas Eric</span></div>
        <div class="dropdown"><img src="assets\images\dropdown.svg" alt="dropdown"></div>
        
        <div *ngIf="dropdownVisible" class="dropdown-menu">
            <ul>
              <li (click)="onLogout()" class="pi pi-sign-out mr-2"> Logout</li>
            </ul>
        </div>
    </div>
</header>
