/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

@import "assets/fonts/fonts.scss";
/* You can add global styles to this file, and also import other style files */

// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";

:root {
    // colors
    --primary-color: #0065a1;
    --primary-white: #ffffff;
    --primary-black: #000000;
    --primary-light-black: #0a0a0a;
    --primary-grey: #818181;
    --primary-green: #62a05c;
    --primary-pink: #df4069;
    --primary-border: #cfcfcf;
    --secondary-border: #818181;
    --bg-clr: #f5f5f5;
    --secondary-bg: #d8e6ef;
    --table-border: #c6c6c6;
    --td-border: #bcbcbc;
    --table-header-bg: #f0f6fa;

    // Box shadow
    --primary-shadow: #0000001a;

    // font-sizes
    --font-regular: 18px;
    --font-normal: 16px;
    --font-sm: 14px;
    --font-bold: 900;
    --font-md: 700;
    --font-reg: 600;
}
@media only screen and (max-width: 500px) {
    :root {
        --font-normal: 14px;
        --font-regular: 16px;
        // --font-sm: 10px;
    }
}


html,
body {
    font-family: "NestleTextTF-Book" !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "NestleTextTF-Bold" !important;
}
h1 {
    font-weight: var(--font-bold) !important;
}
h2 {
    font-weight: var(--font-md) !important;
}
h3 {
    font-weight: var(--font-reg) !important;
}
div,
p,
span {
    font-family: "NestleTextTF-Book";
}
.primary-btn {
    background-color: var(--primary-color);
    width: 100%;
    border: 1px solid transparent;
    padding: 8px 10px;
    border-radius: 6px;
    color: var(--primary-white);
    font-family: "NestleTextTF-Bold";
    // font-weight: bold !important;
    font-size: var(--font-normal);
    cursor: pointer;
}
.p-button-text {
    font-family: "NestleTextTF-Book" !important;
}
.pi {
    width: 18px !important;
}
.green {
    color: var(--primary-green);
}
.blue {
    color: var(--primary-color) !important;
}

.btn-icon {
    width: 16px;
}
img.sort-icon {
    margin-left: 10px;
    height: 10px;
    width: 8px;
}

.p-datatable-table {
    margin-top: 1rem;
    border: 1px solid #ddd;
}

p-table tr {
    border-bottom: 1px solid #ddd;
    height: 56px !important;
}

.p-datatable .p-datatable-thead > tr > th {
    font-family: "NestleTextTF-Bold";
    font-size: 16px;
    padding: 14px 18px;
    text-align: left;
    background-color: var(--table-header-bg);
    color: var(--primary-black);
}
.p-datatable .p-datatable-thead > tr > th:hover {
    background-color: var(--table-header-bg);
}
.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    font-size: 16px;
    font-family: "NestleTextTF-Book";
    padding: 6px 18px;
    background-color: white;
    color: var(--primary-black);
    
}
.p-inputswitch {
    display: flex;
    align-items: center;
    top: 2px;
}
.p-inputswitch-slider {
    height: 22px;
    width: 40px;
    background-color: #0065a1 !important; 
  }
  
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: green !important;
  }

  .p-inputswitch .p-inputswitch-slider:before {
    background: #ffffff;
    width: 1rem;
    height: 1rem;
    left: 0.25rem;
    margin-top: -0.5rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}
// dashboard stylings
.search-bar-container {
    width: 100%;
    border: 1px solid var(--secondary-border);
    border-radius: 3px;
    display: flex;
    padding: 2px 4px;
    input {
        width: 90%;
        border: none;
        outline: none;
    }
    img {
        width: 40px;
        height: 30px;
    }
}

.custom-switch {
    background-color: #0065a1;
    border-color: #0065a1;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .custom-switch::before {
  content: "";
//   position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #0065a1; /* Default blue for the button */
  border-radius: 50%; /* Circular button */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

  /* Color when checked */
  .custom-switch:checked {
    background-color: green;
    border-color: green;
  }
  
  /* Remove focus border and box shadow */
  .custom-switch:focus {
    outline: none;
    box-shadow: none;
  }